main {
    font-size: 14px;
    height: 85%;
}


@media (min-width: 1024px){
    main {
        margin-left: 10rem;
        margin-right: 10rem;
    }    
}


@media (max-width: 720px){
    main {
        height: 90%;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}